body{
  background: #782325;
}
body .navbar{
  background-color: #782300;
  border-bottom: 1px solid #782300;
}
body .navbar .container a{
  font-size: 16px;
}
.panel-heading {
  padding:0px;
}
.col-md-3 .poll h3{
  background-color: #651000;
}

/* selected menu background*/
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #6B0219;
}
/* sub menu background */
body .navbar  .container ul li ul li, body .navbar  .container ul li ul{
  background-color:#6B0219 ;
}

/* sub menu hover */
body .navbar  .container ul li ul li a:hover{background-color:#86484B ;}

.col-md-9 h3,.col-md-3 .panel-heading h3,.col-md-9 h2 ,.col-md-3 h2,.row .boxblock h2{
  background-color:  #651000;
  border-color:  #782300;
  color: #FFF;

}
input[type="submit"]{
  background-color: #663300;
  border-color: #663300;
}
.breadcrumb {
  background-color:#663300;
}
.breadcrumb  a{
  color:#ffffff;
  font: italic bold ;
}
footer h3{
  color: #FF8;
}
footer 
{
  background: #663300;
}
.footer_col .footer_column ul li a{color:#ffffff}
