<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        {{ content.field_image }}
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="about-text">
          <div class="section-title">
            <h2>{{ node.label }}</h2>
            <h3>{{ content.field_sub_title_ }}</h3>
          </div>
          {{ content.body }}
        </div>
      </div>
    </div>
  </div>
</div>
