{#
/**
 * @Maintenance page
 
 */
#}
<div class="container">

  <!-- /.row -->
  <!-- Intro Content -->
  <div class="row">
    <img src="{{ base_path ~ directory }}/images/under_maintenance_page.jpg" class="img-responsive center-block">            
  </div>
  <!-- /.row -->

</div>

